body {font-family: 'Ubuntu+Mono',monospace, sans-serif;
  font-weight: 400;
  background-color: rgb(192, 241, 245);
  height: 600px;
}
.container {width:60%;
  max-width: 960px;
  margin: auto;
 /* background-image: "url('assets/images/Hangman.png')";  */
 background-color: white;
 height:700px;
 padding: 50px;
 }
 .showtext {height:35px; 
  padding: 20px 0 10px;
  font-size: 30px;
  background-color: white;
 }
 #correctWord {
   background-color: white;
 }
.letter {font-size: 100px;
  display: inline;
  padding: 5px;}
.match { 
  border: 1px solid blue; 
  background-color: rgb(142, 245, 73,0.39)}
.guessed {
  font-weight: 100;
  border: 1px solid #ff3300; 
  background-color: rgba(255, 173, 96, 0.39);
}
.score{ 
  margin-top: 20px;
  padding:10px;
  height:120px;
}
.warn{
 color: red;
}
.normal{
  color:black;
}
.win{
  color: green;
}