body {font-family: 'Ubuntu', sans-serif;}
.showtext {height:80px; 
padding: 10px 10px}
.letter {font-size: 100px;
  display: inline;
  padding: 5px;}
.match { 
  border: 1px solid blue; 
  background-color: rgb(142, 245, 73)}
.guessed {
    border: 1px solid blue; 
  background-color: rgb(255, 173, 96)}
}